<div class="book-container">
    <div class="card book">
        <div class="card-content">
            <h3>{{this.title}}</h3>
            <p><strong>Author:</strong> {{this.author}}</p>
            <p><strong>Genre:</strong> {{this.genre}}</p>
            <p>{{this.description}}</p>
            <img src="{{this.thumbnail}}" alt="{{this.title}}">
            <!-- Delete button -->
             <button class="delete-btn" data-book-id="{{this.book_id}}">Delete</button>
        </div>
    </div>
</div>

<script src="/deleteBook.js"></script>

