<div class="book-container">
    <div class="card book">
        <div class="card-content">
            <h3>{{this.title}}</h3>
            <p><strong>Author:</strong> {{this.author}}</p>
            <p><strong>Genre:</strong> {{this.genre}}</p>
            <p>{{this.description}}</p>
            <img src="{{this.thumbnail}}" alt="{{this.title}}">
            <!-- Delete button -->
             <button class="delete-btn" data-book-id="{{this.book_id}}">Delete</button>
        </div>
    </div>
</div>

 <div class="text-center">
                <h3>Comments</h3>
                {{#each comments as |comment| }}
                    <div class="card shadow p-3 mb-2">
                        <p>{{comment.comment_body}} by {{comment.user.name}} on {{format_date comment.date_created}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{> comment-form }}


<script src="/deleteBook.js"></script>

