<main class="row">
    <div class="twelve columns">
        <h2>Books</h2>
        <div class="books-container">
            {{#each books}}
            <a href="/book/{{this.book_id}}" class="book-link">
                <div class="card book">
                    <div class="card-content">
                        <h3>{{this.title}}</h3>
                        <p><strong>Author:</strong> {{this.author}}</p>
                        <p><strong>Genre:</strong> {{this.genre}}</p>
                        <img src="{{this.thumbnail}}" alt="{{this.title}}">
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</main>



